.square {
  height: 100px;
  width: 100px;
  font-size: 40px;
  font-weight: 700;
  border: 1px solid black;
  margin: 5px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}